@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500; 600&display=swap");
:root {
    --primary: #ffffff;
    --blue: #8aa7e0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary);
    text-align: center;
    background-image: url("../images/lightmode-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    padding: 0 0 20px 0;
}

.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.input label {
    font-size: 16px;
    font-weight: 400;
    margin: 5px 0 15px;
}

.input select {
    border: none;
    border-radius: 5px;
    min-width: 300px;
    font-size: 16px;
    padding: 10px 6px;
    background-color: var(--blue);
    color: var(--primary);
}

.input select:focus {
    outline: none;
}

.circle-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
}

.circle-outline {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: transparent;
    border: 5px solid #f0f8ff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.circle-progress {
    width: 80px;
    height: 80px;
    position: absolute;
    background-color: #99c2ff;
    border-radius: 50%;
    opacity: 0;
    transition: 4s ease all;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.circle-progress .guidance {
    width: 80px;
    height: 80px;
    position: relative;
}

.guidance span {
    position: absolute;
    bottom: 30px;
    right: 0;
    left: 0;
    font-weight: 600;
    padding-top: 50px;
}

.display img {
    width: 50px;
    height: 50px;
    display: none;
}

/* setting new classes */
.circle-grow {
    transform: scale(3.65);
}

.audio-player {
    display: none;
}

.breaths {
    font-size: 25px;
    margin-bottom: 20px;
}

.instructions {
    margin-bottom: 30px;
}

button {
    padding: 10px 30px;
    margin: 0 15px;
    border-radius: 5px;
    background-color: var(--blue);
    color: var(--primary);
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.4s ease all;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

button:hover {
    background-color: #f0f8ff;
    color: var(--blue);
    text-transform: uppercase;
    font-weight: 500;
    transform: scale(1.1);
}

/* setting inactive class */
.button-inactive {
    pointer-events: none;
    opacity: 0.5;
}

@media screen and (max-width: 980px) {
    h1,
    .input label {
        color: var(--blue);
    }
}
